mixin sTimetable(data)
	// start sTimetable
	+b.SECTION.sTimetable.section#sTimetable&attributes(attributes)
		.container
			+b.section-title
				h2 Расписание хакатона
				p Время по&nbsp;МСК
			+e.row.row
				mixin day(date, day)
					.col-xl-4
						+e.day
							+e.heading
								span!= date
								small!= day
							ul
								block
				mixin li(time, event, descr)
						li
							span!= time
							+e.event
								span!= event
								if descr
									p!= descr
				+day(`17 февраля 2023`, `Пятница`)
					+li(`16:00—17:00`, `Торжественное открытие`)
					+li(`18:00—21:40`, `Первый чек-поинт`)
				+day(`18 февраля 2023`, `Суббота`)
					+li(`10:00—13:40`, `Второй чек-поинт`, `К началу 2-го чек-поинта команда должна показать, как минимум, ссылку на репозиторий.`)
					+li(`18:00—20:40`, `Третий чек-поинт`, `К старту 3-го чек-поинта,в целях осуществления контроляза прогрессом, команда должна загрузить: драфт тизера решения, ссылку на репозиторий с кодом, драфт презентации.`)
				+day(`19 февраля 2023`, `Воскресенье`)
					+li(`10:00`, `Стоп-кодинг`)
					+li(`12:00—18:00`, `Защита решений`)
					+li(`18:00—19:00`, `Торжественное награждение победителей`)
	// end sTimetable